html {
    font-size: 62.5%;
}
.logo {
    display: inline-block;
    font-size: 2rem;
    text-align:center;
    background-color: azure;
    border: 3px solid black;
    width: 650px;
    height: 60px;
}

.gallery--item_image {
    display: inline-block;
    width:15rem;
    height:15rem;
    object-fit: cover;

}
.gallery {
    display: inline-block;
    flex-direction: column;
    height: 500px;
    object-fit: cover;
    overflow:auto;
}
.gallery--item_title {
    display: flex;
    width:15rem;
    font-size: 2.5rem;
    background-color: aliceblue;
    text-align: center;
    overflow:auto;
}
.gallery--item_image {
    display: flex;
}
.gallery--item {
    border: 2px solid lightgrey;
    border-radius: 40px;
    overflow: hidden;
    width: 15rem;

}
.general--design{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.general--image{
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 70%, 70% 100%, 0 100%, 0% 70%, 0% 30%);
    margin-top: 30px;
    width: 480px;
    height: auto;
    margin-left: 5px;
    
}
.title--general--image{
    display: flex;
    background: white;
    font-size: 20px;
    border:3px solid rgb(17, 17, 17);
    align-items: center;
    width: 150px;
    margin-top: -20px;
    position: relative;
   
}
.headerlogo{
    display: flex;
    justify-content: center;
}
.gallery--item_image:hover{
    filter:blur(3px);
}
body{
    background-image: url(../images/liquid-cheese.svg);
    background-size: cover;
}
@media screen and (max-width: 731px) {
   .general--design{
    flex-wrap: wrap-reverse;
   }
   
    .gallery{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
}